@font-face {
  font-family: 'Dubai-Bold';
  src:  url('//github.com/rtaibah/dubai-font-cdn/blob/master/fonts/Dubai-Bold.eot?raw=true') format('embedded-opentype'),  
        url('//github.com/rtaibah/dubai-font-cdn/blob/master/fonts/Dubai-Bold.woff?raw=true') format('woff'), 
        url('//github.com/rtaibah/dubai-font-cdn/blob/master/fonts/Dubai-Bold.woff2?raw=true') format('woff2'), 
        url('//github.com/rtaibah/dubai-font-cdn/blob/master/fonts/Dubai-Bold.ttf?raw=true') format('truetype'), 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dubai-Medium';
  src:  url('//github.com/rtaibah/dubai-font-cdn/blob/master/fonts/Dubai-Medium.eot?raw=true') format('embedded-opentype'),  
        url('//github.com/rtaibah/dubai-font-cdn/blob/master/fonts/Dubai-Medium.woff?raw=true') format('woff'), 
        url('//github.com/rtaibah/dubai-font-cdn/blob/master/fonts/Dubai-Medium.woff2?raw=true') format('woff2'), 
        url('//github.com/rtaibah/dubai-font-cdn/blob/master/fonts/Dubai-Medium.ttf?raw=true') format('truetype'), 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dubai-Regular';
  src:  url('//github.com/rtaibah/dubai-font-cdn/blob/master/fonts/Dubai-Regular.eot?raw=true') format('embedded-opentype'),  
        url('//github.com/rtaibah/dubai-font-cdn/blob/master/fonts/Dubai-Regular.woff?raw=true') format('woff'), 
        url('//github.com/rtaibah/dubai-font-cdn/blob/master/fonts/Dubai-Regular.woff2?raw=true') format('woff2'), 
        url('//github.com/rtaibah/dubai-font-cdn/blob/master/fonts/Dubai-Regular.ttf?raw=true') format('truetype'), 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dubai-Light';
  src:  url('//github.com/rtaibah/dubai-font-cdn/blob/master/fonts/Dubai-Light.eot?raw=true') format('embedded-opentype'),  
        url('//github.com/rtaibah/dubai-font-cdn/blob/master/fonts/Dubai-Light.woff?raw=true') format('woff'), 
        url('//github.com/rtaibah/dubai-font-cdn/blob/master/fonts/Dubai-Light.woff2?raw=true') format('woff2'), 
        url('//github.com/rtaibah/dubai-font-cdn/blob/master/fonts/Dubai-Light.ttf?raw=true') format('truetype'), 
  font-weight: normal;
  font-style: normal;
}

.font-dubai-bold {
    font-family: 'Dubai-Bold', Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.font-dubai-medium {
    font-family: 'Dubai-Medium', Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.font-dubai-regular {
    font-family: 'Dubai-Regular', Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.font-dubai-light {
    font-family: 'Dubai-Light', Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}
